extends ../templates/layout

block title
  title Criar Colaborador

block main
  section.staff-container colaborador

    p Preencha os campos abaixo para criar um novo colaborador:

    form(
      action="admin/colaboradores" 
      method="post" 
      enctype="multipart/form-data"
    )
      
      label(for="name") Nome
      input(type="text" name="name")

      label(for="job") Cargo
      input(type="text" name="job")
      
      label(for="resume") Currículo
      input(type="file" name="resume")

      input(type="submit" value="Enviar")
