footer.footer.container 
      a(href='/').footer__logo
        img(src="#", alt="Logo")
      ul.footer__social
        li
          a(href='//#').footer__media
            img(src="#", alt="Ícone do Facebook")
        li
          a(href='//#').footer__media
            img(src="#", alt="Ícone do Instagram")
      nav
        ul.footer__navigation 
          li.footer__link 
            a(href='/staff') Colaboradores
          li.footer__link 
            a(href='/gallery') Galeria
          li.footer__link 
            a(href='/transparency') Transparência
          li.footer__link 
            a(href='/partners') Patrocinadores
          li.footer__link 
            a(href='/donations') Doações
          li.footer__link 
            a(href='/contact') Contato