header.header.container
      a(href='/').header__logo
        img(src='#', alt='Logo')

      nav.header__navigation
        ul 
          li.header__link
            a(href='/colaboradores') Colaboradores
          li.header__link
            a(href='/galeria') Galeria
          li.header__link
            a(href='/transparencia') Transparência 
          li.header__link
            a(href='/parceiros') Patrocinadores 
          li.header__link
            a(href='/doacoes') Doações
          li.header__link
            a(href='/contato') Contato