header.header.container
      a(href='/').header__logo
        img(src='#', alt='Logo')

      nav.header__navigation
        ul 
          li.header__link
            a(href='/staff') Colaboradores
          li.header__link
            a(href='/gallery') Galeria
          li.header__link
            a(href='/transparency') Transparência 
          li.header__link
            a(href='/partners') Patrocinadores 
          li.header__link
            a(href='/donations') Doações
          li.header__link
            a(href='/contact') Contato