:root {
  --header-border-mobile: #060707;
  --main-color: #00a859;
  --transition-color: #337ab7;
  --border-bottom-color: #2a95be;
  --background-gray-color: #677294;
}


* {
  margin: 0 10px;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  background-color: #eff3f7;
  
}

body, ul {
  margin: 0px;
  padding: 0px;
  font-family: "europa, sans-serif";
 
}

h1,h2 {
  color: #333333;
}

h4 {
  color: #444;
}


.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
} */


@media screen and (max-width: 1024px) {
  body {
    overflow-x: hidden;
  }
}

