.staff-container{
    display: flex;
	justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    
    
}


.team{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-around;
    gap: 0.5%;
    margin: 5.5%;
    
   
    
}


.team-member{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 15vh;	
	text-align: center;
	align-items: center;
	transition: 0.3s;
	box-shadow:  2px 2px 2px #CCC;
	
 
    
}

.team-member:hover {
    box-shadow: 4px 4px 4px 3px var(--background-gray-collor)
}


span {
    color: var(--main-collor);
}




@media (max-width: 1024px) {
	
    .team {
        grid-template-columns: 33% 33% 33%;
        gap: 0.5%;
        margin: 9%;
    }
	
}


 @media (max-width: 930px) {

    .team {
        grid-template-columns: 50% 50%;
        gap: 0.5%;
        margin: 9%;
    }

}


@media (max-width: 570px) {

    .team{

        grid-template-columns: 100%;
        gap: 0%;
        margin: 12%;
        
    }
}
