<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <link rel="stylesheet" href="../../public/assets/styles/firstWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/secondWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/waveFooter.css">
    <link rel="stylesheet" href="../../public/assets/styles/headerMobile.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav id="nav" class=" flex items-center justify-around lg:justify-between mt-8 mb-8 mx-12">

            <a href="/">
                <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="md:h-16">
            </a>

            <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false" class="flex lg:hidden">
                <span id="hamburger"></span>
            </button>
            
            <ul id="menu" role="menu" class="flex  lg:justify-between items-center w-3/4 ml-auto  h-20 ">
                <li class="link-header">
                    <a href="/colaboradores" class="header-li-a">Colaboradores</a>
                </li>
                <li class="link-header">
                    <a href="/galeria" class="header-li-a">Galeria</a>
                </li>
                <li class="link-header">
                    <a href="/transparencia" class="header-li-a">Transparência</a>
                </li>
                <li class="link-header">
                    <a href="/parceiros" class="header-li-a">Parceiros</a>
                </li>

                <button class="button">DOAR</button>
            </ul>
        </nav>
    </header>
    

    <main>
        <section class=" relative flex justify-between items-center md:pt-10  bg-background-green-wave shadow-xl  lg:flex-row flex-wrap">

            <div class="custom-shape-divider-top-1675725518">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                </svg>
            </div>
          

            <div class="relative text-center items-center justify-center flex flex-col lg:flex-wrap lg:pl-12   lg:w-[332px] xl:w-[600px] mt-14 pt-12 md:mt-3 lg:mt-0 text-background-gray-color  ">
                
                <h1 class="text-3xl mb-7 hover:font-semibold duration-300">Ser diferente é legal!</h1>
                <p class="text-xl text-center mx-10 lg:mx-0">Somos uma associação filantrópica que se dedica à melhoria da qualidade de vida das pessoas com deficiência. Aqui, trabalhamos em parceria com outras organizações e indivíduos para proporcionar apoio, recursos e oportunidades para que essas pessoas possam alcançar seu pleno potencial</p>
            </div>
 
            <img class="mt-10 relative hover:scale-110 transition duration-300 ease-in-out rounded z-50 right-0 lg:h-96" src="../../public/assets/img/home-img.png" alt="">
   

        </section>

        <section class="relative shadow-xl">

            <div class="custom-shape-divider-top-1675859740">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                </svg>
            </div>

            <div class="md:relative section-flex">
                <h2 class="h2-msg mb-7 hover:font-semibold duration-300">Sobre nossa atividades</h2>
                <p class="p-msg">ABSL atende crianças, jovens, adultos e idosos com deficiência</p>
                <p class="p-msg">Estamos com três unidades em Bragança Paulista</p>
            </div>
            <ul class="container w-auto rounded mx-auto grid gap-10 sm:grid-cols-2 p-8  sm:w-8/12 lg:grid-cols-3">
                    <li class="activities-ul-li">Desenvolvimento Infantil (0 a 3 anos)</li>   
                    <li class="activities-ul-li">Aprendendo a Crescer (4 a 7 anos)</li>
                    <li class="activities-ul-li">Ciclo Psicopedagógico I e II (7 a 15 anos)</li>
                    <li class="activities-ul-li">Aprendendo a viver, fazer, conviver e ser (jovens e adultos)</li>
                    <li class="activities-ul-li">Psicoterapia Infantil</li>                    
                    <li class="activities-ul-li">Psicoterapia de Adolescente/Adulto</li>                    
                    <li class="activities-ul-li">Ensino de Braille </li>                   
                    <li class="activities-ul-li">Fonoaudiologia</li>                    
                    <li class="activities-ul-li">Ensino de Libras</li>                    
                    <li class="activities-ul-li">Fisioterapia</li>                    
                    <li class="activities-ul-li">Orientação Psicológica e Familiar</li>
                    <li class="activities-ul-li">Brinquedoteca</li>
                    <li class="activities-ul-li">Informática Adaptada</li>
                    <li class="activities-ul-li">Educação Física Adaptada</li>
                    <li class="activities-ul-li">Oficina de Música e Artes</li>
                    <li class="activities-ul-li">Musicoterapia</li>
                    <li class="activities-ul-li">Materiais para Empréstimo e Doação</li>
                    <li class="activities-ul-li">Equoterapia</li>
            </ul>
        </section>


        <section class="flex items-center justify-center flex-col md:flex-row  md:mx-auto md:mt-4  md:mb-4 gap-5 bg-white shadow-2xl h-auto">

            <div class="text-center justify-between h-full sm:w-[600px] p-8 hover:scale-110 transition duration-300 ease-in-out hover:bg-background-gray-color ">
                <h2 class="h2-msg mb-7 hover:font-semibold transition duration-300">Relacionamento especial</h2>
                <p class="p-msg mb-10">Para manter relações saudáveis e respeitosas com pessoas com deficiência, é importante seguir algumas dicas</p>
                <button class="button">CLIQUE AQUI</button>
            </div>

            <div class="text-center justify-between h-full sm:w-[600px] p-8 hover:scale-110 transition duration-300 ease-in-out hover:bg-background-gray-color">
                <h2 class="h2-msg mb-7 hover:font-semibold transition duration-300">Faça sua parte!</h2>
                <p class="p-msg mb-10">Ajude quem precisa a ter uma vida mais justa. Contribua clicando no botão abaixo</p>
                <button class="button">CLIQUE AQUI</button>
            </div>

        </section>
    </main>
    

    <footer class="absolute md:relative md:flex md:justify-between md:items-center md:pr-10 md:pt-10 md:pb-10 bg-background-green-wave shadow-2xl">

        <div class="custom-shape-divider-top-1675737893">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
            </svg>
        </div>

        <iframe class="hidden md:inline-block left-0 relative" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4531.715449139719!2d-46.539787537228335!3d-22.947160319780984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cec98b90000001%3A0x7e2c01ad6a5e3d0!2sAssocia%C3%A7%C3%A3o%20Beneficente%20S%C3%A3o%20Lucas!5e0!3m2!1sen!2sbr!4v1675649062727!5m2!1sen!2sbr" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        <div class="relative flex items-center justify-center flex-col flex-wrap text-lg text-background-gray-color">
            
           <p class="mb-3">Associação Beneficente São Lucas</p>
           <p class="mb-3">Rua Madre Cândida de Maria de Jesus, 33</p>
           <p class="mb-3">Vila Municipal, Bragança Paulista/SP</p>
           <p class="mb-3">CEP: 12.912-370</p>
           <p>Tel.: (11) 4033-7934</p>
        </div>
    </footer>

</body>

<script src="../../public/scripts/menu.js"></script>
</html>

