extends templates/layout

block title
  title Parceiros - São Lucas

block main
  section.parceiros
    for partner in partners_folder.files 
      img(
        src=`https://drive.google.com/uc?export=view&id=${partner.id}`
        width="200px" 
        height="200px"
      )