extends templates/layout

block title
  title Parceiros - São Lucas

block main
  
  div.partners-container
    h1 Parceiros

    ul.partners
      for partner in partners_folder.files 
        li.partner  
          img.img-partners(
            src=`https://drive.google.com/uc?export=view&id=${partner.id}`
            width="200px" 
            height="200px"
          )