<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <link rel="stylesheet" href="../../public/assets/styles/headerMobile.css">
    <link rel="stylesheet" href="../../public/assets/styles/firstWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/secondWave.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav id="nav" class=" flex items-center justify-around lg:justify-between mt-8 mb-8 mx-12">

            <a href="./home.html">
                <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="md:h-16">
            </a>

            <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false" class="flex lg:hidden">
                <span id="hamburger"></span>
            </button>
            
            <ul id="menu" role="menu" class="flex  lg:justify-between items-center w-3/4 ml-auto  h-20 ">
                <li class="link-header">
                    <a href="./staff.html" class="header-li-a">Colaboradores</a>
                </li>
                <li class="link-header">
                    <a href="./gallery.html" class="header-li-a">Galeria</a>
                </li>
                <li class="link-header">
                    <a href="./transparency.html" class="header-li-a">Transparência</a>
                </li>
                <li class="link-header">
                    <a href="./partners.html" class="header-li-a">Parceiros</a>
                </li>

                <button class="button">DOAR</button>
            </ul>
        </nav>
    </header>
    

   <main>
        <section class="relative">
       
            <section class="bg-background-green-wave relative items-center justify-center md:flex  md:flex-row  md:h-[480px] pt-12">

                <!-- firstWave  -->
                <div class="custom-shape-divider-top-1675725518">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
                    </svg>
                </div>

                <div class="relative flex items-center text-background-gray-color md:justify-center flex-col flex-wrap p-8 md:pt-16 md:w-1/2 ">
                    <h1 class="text-3xl mb-7 font-semibold">Sobre nossos parceiros</h1>
                    <p class="text-xl text-center mx-10 ">Sendo nosso parceiro, você estará ajudando a atender às necessidades de várias pessoas com condições especiais, garantindo que uma criança continue a receber todo o suporte necessário durante seu desenvolvimento. Vejo nosso quadro de parceiros</p>
                </div>
        
                <div class="relative md:w-1/2">
                    <ul class="grid gap-3  w-auto mx-auto p-8 grid-cols-2 md:grid-cols-4 ">
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/amaral-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/andreas-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/casaverde-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/chaleira-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/clube-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/crot-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/Joel-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/labac-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/maxgear-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/mdcard-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/mori-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/poletii-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/reymacochan-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/solmar-removebg-preview.png" alt="" width="150px" height="150px"></li>
                        <li class="partner-li"><img class="img-partners" src="../../public/assets/img/partners/tasca-removebg-preview.png" alt="" width="150px" height="150px"></li>
                    </ul>
    
                </div>

            </section>

           
            <section>

                <div class="custom-shape-divider-top-1675859740">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                        <path d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z" class="shape-fill"></path>
                    </svg>
                </div>

            </section>

           


        </section>
        
   </main>
    
   <script src="../../public/scripts/menu.js"></script>


</body>

</html>