<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav class="flex items-center justify-between m-12">
            <div class="container flex items-center h-20">
                <a href="/">
                    <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="h-20">
               </a>


               <div class="basis-full flex-grow self-center">
                    <ul class="md:flex md:justify-between items-center w-3/4 ml-auto h-20">
                        <li>
                            <a href="/colaboradores" class="header-li-a">Colaboradores</a>
                        </li>
                        <li>
                            <a href="/galeria" class="header-li-a">Galeria</a>
                        </li>
                        <li>
                            <a href="/transparencia" class="header-li-a">Transparência</a>
                        </li>
                        <li>
                            <a href="/parceiros" class="header-li-a">Parceiros</a>
                        </li>
                        <button class="bg-main-color text-background-gray-color rounded-2xl h-15 
                                        py-2 px-10 hover:bg-transition-color duration-300">DOAR<button>
                    </ul>
               </div>
            </div>
        </nav>
    </header>

    <div>
        <section>
            
        </section>

        <section>
            <div>
                <h2>Sobre nossa atividades</h2>
                <p>ABSL atende crianças, jovens, adultos e idosos com deficiência</p>
                <p>Estamos com três unidades em Bragança Paulista</p>
            </div>
            <div>
                <ul class="container grid gap-4 mx-auto sm:grid-col-2 md:grid-cols-3 lg:grid-col-4 sm:p-8 sm:w-8/12">
                    <li class="justify-center items-center w-auto rounded-md h-10 border-2 border-main-color">
                        Desenvolvimento Infantil (0 a 3 anos)
                    </li>   
                    <li> 
                        Aprendendo a Crescer (4 a 7 anos)
                    </li>
                    <li>
                        Ciclo Psicopedagógico I e II (7 a 15 anos)
                    </li>
                    <li>
                        Aprendendo a viver, fazer, conviver e ser (jovens e adultos)
                    </li>
                    <li>
                        Psicoterapia Infantil
                    </li>
                    <li>
                        Psicoterapia de Adolescente/Adulto
                    </li>
                    <li>
                        Ensino de Braille
                    </li>
                    <li>
                        Fonoaudiologia
                    </li>
                    <li>
                        Ensino de Libras
                    </li>
                    <li>
                        Fisioterapia
                    </li>
                    <li>
                        Orientação Psicológica e Familiar
                    </li>
                    <li>
                        Brinquedoteca
                    </li>
                    <li>
                        Informática Adaptada
                    </li>
                    <li>
                        Educação Física Adaptada
                    </li>
                    <li>
                        Oficina de Música e Artes
                    </li>
                    <li>
                        Musicoterapia
                    </li>
                    <li>
                        Materiais para Empréstimo e Doação
                    </li>
                    <li>
                        Equoterapia
                    </li>
                </ul>
            </div>
        </section>
    </div>

</body>
</html>