<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <link rel="stylesheet" href="../../public/assets/styles/firstWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/secondWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/waveFooter.css">
    <link rel="stylesheet" href="../../public/assets/styles/headerMobile.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav id="nav" class=" flex items-center justify-around lg:justify-between mt-8 mb-8 mx-12">

            <a href="/">
                <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="md:h-16">
            </a>

            <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false" class="flex lg:hidden">
                <span id="hamburger"></span>
            </button>
            
            <ul id="menu" role="menu" class="flex  lg:justify-between items-center w-3/4 ml-auto  h-20 ">
                <li class="link-header">
                    <a href="/colaboradores" class="header-li-a">Colaboradores</a>
                </li>
                <li class="link-header">
                    <a href="/galeria" class="header-li-a">Galeria</a>
                </li>
                <li class="link-header">
                    <a href="/transparencia" class="header-li-a">Transparência</a>
                </li>
                <li class="link-header">
                    <a href="/parceiros" class="header-li-a">Parceiros</a>
                </li>

                <button class="button">DOAR</button>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>

            <ul class="flex items-center justify-center flex-col pt-12 sm:items-start  h-auto">
                <button  class="collapsible bg-light-grey">Operacional</button>
                <div class="content flex-col">
                    <li class="transparency-li"><a class="text-blue-header" href="">Prestadores de Serviço</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Declaraçao de Diretoria Não Remunerada</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Relação Nominal dos Dirigentes</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Relação de Colaboradores</a></li>
                </div>

                <button class="collapsible bg-light-grey">Secretaria</button>
                <div class="content flex-col">
                    <button id="btn-rules" class="collapsible ">Regulamentos</button>
                    <div class="content ">
                        <li class="transparency-li"><a class="text-blue-header" href="">Regulamento de Contração</a></li>
                        <li class="transparency-li"><a class="text-blue-header" href="">Regulamento de Compras</a></li>
                    </div>

                    <button id="btn-terms" class="collapsible ">Termos de Colaboração</button>
                    <div class="content">
                        <li class="transparency-li"><a class="text-blue-header" href="">Termo de Colaboração - Residência Terapêutica</a></li>
                        <li class="transparency-li"><a class="text-blue-header" href="">Termo de Colaboração - São Lucas</a></li>
                        <li class="transparency-li"><a class="text-blue-header" href="">Termo de Colaboração - Equoterapia</a></li>
                    </div>
                    
                    <button id="btn-actions" class="collapsible">Planos de Ação</button>
                    <div class="content flex-col ">
                        <li class="transparency-li"><a class="text-blue-header" href="">Plano de Ação - Residência Terapêutica</a></li>
                        <li class="transparency-li"><a class="text-blue-header" href="">Plano de Ação - São Lucas</a></li>
                        <li class="transparency-li"><a class="text-blue-header" href="">Plano de Ação - Equinoterapia</a></li>
                    </div>

                    <li class="transparency-li"><a class="text-blue-header" href="">Ata da Assembleia Geral</a></li>

                    <li class="transparency-li"><a class="text-blue-header" href="">Estatuto Social</a></li>
                    
                </div>
                
                <button  class="collapsible bg-light-grey">Prestação de Contas</button>
                <div class="content flex-col">
                    <li class="transparency-li"><a class="text-blue-header" href="">Relação de Gastos - 06/2021</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Relatório Físico Financeiro</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Demonstração do Resultado - 2020</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Anexo 17</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Demonstração das Mutações do Patrimônio Líquido</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Fluxo de Caixa</a></li>
                    <li class="transparency-li"><a class="text-blue-header" href="">Balanço Patrimonial</a></li>
                </div>

            </ul>
        </section>
    </main>
    

    

</body>

<script src="../../public/scripts/menu.js"></script>
<script src="../../public/scripts/collapsible.js"></script>
</html>