<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <link rel="stylesheet" href="../../public/assets/styles/firstWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/secondWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/waveFooter.css">
    <link rel="stylesheet" href="../../public/assets/styles/headerMobile.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav id="nav" class=" flex items-center justify-around lg:justify-between mt-8 mb-8 mx-12">

            <a href="/">
                <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="md:h-16">
            </a>

            <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false" class="flex lg:hidden">
                <span id="hamburger"></span>
            </button>
            
            <ul id="menu" role="menu" class="flex  lg:justify-between items-center w-3/4 ml-auto  h-20 ">
                <li class="link-header">
                    <a href="/colaboradores" class="header-li-a">Colaboradores</a>
                </li>
                <li class="link-header">
                    <a href="/galeria" class="header-li-a">Galeria</a>
                </li>
                <li class="link-header">
                    <a href="/transparencia" class="header-li-a">Transparência</a>
                </li>
                <li class="link-header">
                    <a href="/parceiros" class="header-li-a">Parceiros</a>
                </li>

                <button class="button">DOAR</button>
            </ul>
        </nav>
    </header>
    
    <main>
        <!-- apresentação -->
        <section>

        </section>

        <!-- grid -->
        <section>

        </section>
    </main>
    

    

</body>

<script src="../../public/scripts/menu.js"></script>
</html>