extends templates/layout

block title
  title Transparência - São Lucas

block main
  mixin folder(folder)
    button.collapsible #{folder.name}
    div.content
      for child in folder.folders
        +folder(child)

      for child in folder.files
        li: a(href=`https://drive.google.com/file/d/${child.id}/view?usp=sharing`) #{child.name}

  section.transparencia.container
    h1 Transparência

    ul
      for folder in transparency_folder.folders
        +folder(folder)