<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/assets/styles/styles.css">
    <link rel="stylesheet" href="../../public/assets/styles/firstWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/secondWave.css">
    <link rel="stylesheet" href="../../public/assets/styles/waveFooter.css">
    <link rel="stylesheet" href="../../public/assets/styles/headerMobile.css">
    <title>São Lucas</title>
</head>
<body>
    <header>
        <nav id="nav" class=" flex items-center justify-around lg:justify-between mt-8 mb-8 mx-12">

            <a href="./home.html">
                <img src="../../public/assets/img/logo.svg" alt="Logo" role="img" class="md:h-16">
            </a>

            <button id="btn-mobile" aria-label="Abrir menu" aria-haspopup="true" aria-controls="menu" aria-expanded="false" class="flex lg:hidden">
                <span id="hamburger"></span>
            </button>
            
            <ul id="menu" role="menu" class="flex  lg:justify-between items-center w-3/4 ml-auto  h-20 ">
                <li class="link-header">
                    <a href="./staff.html" class="header-li-a">Colaboradores</a>
                </li>
                <li class="link-header">
                    <a href="./gallery.html" class="header-li-a">Galeria</a>
                </li>
                <li class="link-header">
                    <a href="./transparency.html" class="header-li-a">Transparência</a>
                </li>
                <li class="link-header">
                    <a href="./partners.html" class="header-li-a">Parceiros</a>
                </li>

                <button class="button">DOAR</button>
            </ul>
        </nav>
    </header>
    
    <main>
        <section class="relative flex flex-col items-center text-center py-12">

            <!-- PARA EVITAR ESSE PROBLEMA, USAR AS 4 DIVS DE SECREATARIA EM COLUNAS, E FAZER O GRID NA VERTICAL -->

            <div>
                <h1 class="transparency-subtitle pb-4">Transparência</h1>
                <!-- <p></p> -->
            </div>

            <!-- operacional -->
            <section class="p-10 w-full ">
                <h2 class="text-transition-color text-3xl  ">Operacional</h2>
                <ul class="w-auto mx-auto grid gap-10 px-8 rounded py-12 sm:grid-cols-2  lg:grid-cols-4 justify-center">
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Prestadores de Serviço</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Declaraçao de Diretoria Não Remunerada</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Relação Nominal dos Dirigentes</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Relação de Colaboradores</a></li>
                </ul>
            </section>
            
            <!-- Secretaria -->
            <section class="pt-10 w-full">
                <h2 class="text-transition-color text-3xl  ">Secretaria</h2>

                <ul class="w-auto mx-auto grid gap-10 px-8 rounded py-12 sm:grid-cols-2  lg:grid-cols-4 justify-center">
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Regulamento de Contração</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Regulamento de Compras</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Termo de Colaboração - Residência Terapêutica</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Termo de Colaboração - São Lucas</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Termo de Colaboração - Equoterapia</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Plano de Ação - Residência Terapêutica</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Plano de Ação - São Lucas</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Plano de Ação - Equinoterapia</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Ata da Assembleia Geral</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Estatuto Social</a></li>
                </ul>


            </section>

            <section class="pt-10 w-full">
                <h2 class="text-transition-color text-3xl  ">Prestação de Contas</h2>
                <ul class="w-auto mx-auto grid gap-10 px-8 rounded py-12 sm:grid-cols-2  lg:grid-cols-4 justify-center">
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Relação de Gastos - 06/2021</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300"  href="">Relatório Físico Financeiro</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300"  href="">Demonstração do Resultado - 2020</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300"  href="">Anexo 17</a></li>
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300"  href="">Demonstração das Mutações do Patrimônio Líquido
                    </a></li> 
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Fluxo de Caixa
                    </a></li> 
                    <li class="transparency-ul-li"><a class="hover:text-transition-color duration-300" href="">Balanço Patrimonial
                    </a></li>
                </ul>
            </section>
            
        </section>

    </main>
    
    <script src="../../public/scripts/menu.js"></script>

</body>

</html>