.custom-shape-divider-bottom-1676318641 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1676318641 svg {
    position: relative;
    display: block;
    width: calc(148% + 1.3px);
    height: 328px;
}

.custom-shape-divider-bottom-1676318641 .shape-fill {
    fill: #74CDA3;
}