.custom-shape-divider-top-1675859740 {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1675859740 svg {
    position: relative;
    display: block;
    width: calc(136% + 1.3px);
    height: 84px;
}

.custom-shape-divider-top-1675859740 .shape-fill {
    fill: #74CDA3;
}
