@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply bg-background-gray-color;
    @apply font-serif
}

.header-li-a {
    @apply 
    flex

    relative font-medium text-blue-header 
   
    hover:text-transition-color hover:duration-300

    after:content-[''] after:bg-border-bottom-color after:absolute after:w-0 after:left-0 after:bottom-[1px] after:h-[1px] after:rounded-xl after:duration-300
    
    hover:after:w-full
    
    ;
}

.button {
    @apply rounded-2xl bg-main-color hover:bg-transition-color duration-300 py-2 px-10 text-background-gray-color;
}

.grid-li {
    @apply flex items-center justify-center rounded-full border-main-color text-center text-blue-header h-24 p-4  sm:hover:shadow-xl sm:hover:bg-main-color sm:border-2;
}

.staff-ul-li {
    @apply flex items-center justify-center rounded-full border-main-color text-center text-blue-header h-24 p-4 flex-col sm:hover:shadow-xl sm:hover:bg-main-color sm:border-2;

}

.transparency-ul-li {
    @apply flex items-center justify-center rounded-full border-main-color text-center text-blue-header h-20 p-4 flex-col sm:hover:shadow-xl sm:hover:bg-main-color sm:border-2
}

.section-flex {
    @apply flex items-center justify-center flex-col flex-wrap  pt-36 pl-12 pr-12 m-auto;

}

.subtitle {
    @apply text-transition-color text-3xl font-semibold;
    
}

.transparency-subtitle {
    @apply text-transition-color text-4xl font-semibold;
    
}


.p-msg {
    @apply text-main-gray text-[18px];
}


.wave {
    @apply relative  left-0 w-full overflow-hidden leading-none;
}

.collapsible {
    @apply  cursor-pointer p-[18px] w-full sm:w-80  text-center text-main-color  sm:text-start text-xs h-20;
}


.content {
    @apply   p-[16px] px-[18px] hidden  overflow-hidden   justify-between text-center;
}

.transparency-li {
    @apply tracking-wide py-3;
}

.img-gallery {
    @apply  hover:scale-110 sm:hover:scale-125 transition duration-150 ease-in-out rounded  sm:h-[310px];
}

.img-partners {
    @apply bg-gradient-to-t from-background-green-wave to-background-gray-color;
}

.partner-li {
    @apply flex items-center justify-center flex-col  xl:rounded  xl:border-grey-text;

}