header
      

      nav(id="nav")
        
        
        a(href='/').logo
          img(src='../public/assets/img/logo.png' alt='Logo')

        button(arial-label="Abrir Menu", id="btn-mobile", aria-haspopup="true", aria-controls="menu", aria-expanded="false")
          span(id="hamburger")

        
        ul(id="menu", role="menu")
          li
            a(href='/atividades') Atividades
          li
            a(href='/colaboradores') Colaboradores
          li
            a(href='/galeria') Galeria
          li
            a(href='/transparencia') Transparência 
          li
            a(href='/parceiros') Patrocinadores 
          li
            a(href='/doacoes') Doações
        
        
          



 
