doctype html
html(lang='pt')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
            title São Lucas

        block style
            include style
          

    body
        block header
            include header

        block main 
                p insert the main content
        script(type='text/javascript').
            const btnMobile = document.getElementById('btn-mobile');
            function toggleMenu() {
                if(event.type === 'touchstart') event.preventDefault();
                const nav = document.getElementById('nav');
                nav?.classList.toggle('active');
                event.currentTarget.setAttribute('aria-expanded', active);
                if (active) {
                    event.currentTarget.setAttribute('aria-label', 'Fechar Menu');
                } else {
                    event.currentTarget.setAttribute('aria-label', 'Abrir Menu');
                }
            }
            btnMobile?.addEventListener('click', toggleMenu);
            btnMobile.addEventListener('touchstart', toggleMenu);
        
            



    footer 
        block footer
            include footer

