footer.footer.container 
      a(href='/').footer__logo
        img(src="#", alt="Logo")
      ul.footer__social
        li
          a(href='//#').footer__media
            img(src="#", alt="Ícone do Facebook")
        li
          a(href='//#').footer__media
            img(src="#", alt="Ícone do Instagram")
      nav
        ul.footer__navigation 
          li.footer__link 
            a(href='/colaboradores') Colaboradores
          li.footer__link 
            a(href='/galeria') Galeria
          li.footer__link 
            a(href='/transparencia') Transparência
          li.footer__link 
            a(href='/parceiros') Patrocinadores
          li.footer__link 
            a(href='/doacoes') Doações
          li.footer__link 
            a(href='/contato') Contato