doctype html
html(lang='pt')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        block title
            title São Lucas

        block style
            include ../templates/style

    body
        block header
            include header

        block main 
                p insert the main content

    footer 
        block footer
            include footer

