footer

      nav
        
        a(href='/').logo
          img(src="../public/assets/img/logo.png", alt="Logo")

        ul.footer-social
          li
            a(href='//#')
              img(src="#", alt="Ícone do Facebook")
          li
            a(href='//#')
              img(src="#", alt="Ícone do Instagram")

        ul.nav-list
          li.footer__link 
            a(href='/colaboradores') Colaboradores
          li.footer__link 
            a(href='/galeria') Galeria
          li.footer__link 
            a(href='/transparencia') Transparência
          li.footer__link 
            a(href='/parceiros') Parceiros
          li.footer__link 
            a(href='/doacoes') Doações
          //- li.footer__link 
          //-   a(href='/contato') Contato