link(rel="stylesheet", href="../public/assets/CSS/base.css")
link(rel="stylesheet", href="../public/assets/CSS/header.css")
link(rel="stylesheet", href="../public/assets/CSS/footer.css")
link(rel="stylesheet", href="../public/assets/CSS/normalize.css")
link(rel="stylesheet", href="../public/assets/CSS/admin_case.css")
link(rel="stylesheet", href="../public/assets/CSS/collapsible.css")
link(rel="stylesheet", href="../public/assets/CSS/staff.css")